body {
  background-color: #011627;
  width: fit-content;
  margin:0;
}
.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.containPlay {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.containPlay img {
  position: absolute;
  width: 1200px;
  height: 900px;
  object-fit: contain;
  object-position: top ;
}
.play{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  background-color: white;
  opacity: 0.5;
  transition: visibility 0.1s;
}
.containPlay:hover > .play {
  visibility: visible;
}

.play:active >.circle {
  width: 320px;
  height: 320px;
}
.playIcon{
  position: absolute;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 100px solid rgba(245, 242, 242, 0.8);
  margin-left: 25px;
  z-index:2
}
.circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:190px;
  width: 300px;
  height: 300px;
  background: rgba(241, 240, 240, 0.5);
  border-radius: 50%;
  z-index:2;
}
.circle:hover > .playIcon {
 border-top: 90px solid transparent;
  border-bottom: 90px solid transparent;
  border-left: 110px solid rgba(245, 242, 242, 0.7);
}
.circle:hover {
  width: 340px;
  height: 340px;
}
.playWrap {
  margin: 50px;
  width: 100%;
}